body {
  height: 1000px;
  background-color: #1d1d1d; }

span {
  color: #28ceb8; }

.topo {
  height: 100vh; }
  .topo .container {
    width: 90%;
    margin: 0 auto; }
    .topo .container header .logo {
      font-family: "Lobster", cursive;
      font-size: 36px;
      color: #fff;
      margin-top: 25px; }
    .topo .container header ul {
      float: right;
      margin-top: 26px; }
      .topo .container header ul li {
        display: inline-block;
        margin-left: 22px;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        font-family: Moon; }
        .topo .container header ul li .second {
          border: 1px solid #fff;
          padding: 10px 28px; }
          .topo .container header ul li .second:hover {
            color: #28ceb8;
            border: 1px solid #28ceb8; }
    .topo .container .about {
      padding: 90px 0px; }
      .topo .container .about h1 {
        font-family: "Sumana", serif;
        color: #fff;
        font-size: 18px;
        margin-bottom: 5px;
        text-align: left; }
      .topo .container .about h2 {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 33px;
        color: #fff;
        margin-bottom: 60px;
        text-align: left;
        width: 80%; }
      .topo .container .about a {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 33px;
        color: #fff;
        border-bottom: 1px solid #28ceb8; }
        .topo .container .about a:hover {
          color: #28ceb8; }
      .topo .container .about img {
        width: 45px;
        height: 45px; }

.skills .container {
  width: 90%;
  margin: 0 auto; }
  .skills .container h1 {
    font-family: "Lobster", cursive;
    font-size: 36px;
    color: #fff;
    display: inline-block; }
  .skills .container .bars {
    padding-top: 0px;
    margin-bottom: 70px; }
    .skills .container .bars .bar1 {
      width: 450px;
      height: 6px;
      background-color: #fff;
      position: absolute;
      border-radius: 10px; }
    .skills .container .bars .bar2 {
      width: 390px;
      height: 6px;
      background-color: #28ceb8;
      position: absolute;
      margin-bottom: 40px;
      border-radius: 10px; }
    .skills .container .bars .bar3 {
      width: 350px;
      height: 6px;
      background-color: #28ceb8;
      position: absolute;
      border-radius: 10px; }
    .skills .container .bars .bar4 {
      width: 350px;
      height: 6px;
      background-color: #28ceb8;
      position: absolute;
      border-radius: 10px; }
    .skills .container .bars p {
      color: #fff;
      font-family: Moon;
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 8px;
      margin-top: 50px; }
    .skills .container .bars h3 {
      float: right;
      display: block;
      color: #fff;
      position: absolute;
      font-family: Moon;
      margin-top: -4px;
      font-size: 13px;
      font-weight: bold;
      margin-left: 462px; }
  .skills .container h2 {
    margin-top: 10px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #fff;
    font-size: 16px;
    font-family: Helvetica; }
  .skills .container ul li {
    display: inline-block; }
    .skills .container ul li .fa-instagram {
      vertical-align: middle;
      margin-right: 20px;
      border-radius: 50%;
      width: 40px;
      height: 38px;
      background-color: #fff;
      text-align: center;
      color: #1d1d1d;
      font-size: 37px;
      padding: 6px;
      margin-top: 10px;
      margin-bottom: 60px;
      transition: background-color 0.2s  ease-out; }
      .skills .container ul li .fa-instagram:hover {
        background-color: #28ceb8;
        transition: background-color 0.2s  ease-in; }
    .skills .container ul li .fa-facebook {
      vertical-align: middle;
      margin-right: 20px;
      border-radius: 50%;
      width: 40px;
      height: 38px;
      background-color: #fff;
      text-align: center;
      color: #1d1d1d;
      font-size: 29px;
      padding: 10px 5px 0px 5px;
      margin-top: 10px;
      margin-bottom: 60px;
      transition: background-color 0.2s  ease-out; }
      .skills .container ul li .fa-facebook:hover {
        background-color: #28ceb8;
        transition: background-color 0.2s  ease-in; }
    .skills .container ul li .fa-linkedin {
      vertical-align: middle;
      border-radius: 50%;
      width: 40px;
      height: 38px;
      background-color: #fff;
      text-align: center;
      color: #1d1d1d;
      font-size: 27px;
      padding: 10px 5px 0px 5px;
      margin-top: 10px;
      margin-bottom: 60px;
      transition: background-color 0.2s  ease-out; }
      .skills .container ul li .fa-linkedin:hover {
        background-color: #28ceb8;
        transition: background-color 0.2s  ease-in; }

footer {
  width: 100%;
  border-top: 1px solid #2f2f2f;
  height: 80px; }
  footer .container {
    width: 90%;
    margin: 0 auto; }
    footer .container h1 {
      padding: 40px;
      text-align: center;
      font-size: 16px;
      font-family: Helvetica;
      color: #fff; }
      footer .container h1 .foo {
        font-family: "Lobster", cursive;
        font-size: 36px;
        color: #28ceb8;
        margin-bottom: 10px; }
        footer .container h1 .foo span {
          font-family: "Lobster", cursive;
          font-size: 36px;
          color: #fff; }

/*# sourceMappingURL=style.css.map */
