$Lobster: 'Lobster', cursive;
$Noto: 'Noto Sans', sans-serif;
$Sumana: 'Sumana', serif;


body{

height: 1000px;
background-color: #1d1d1d;
}

span{

  	
  	color: #28ceb8;

 }

.topo{
	// background-image: url("../img/346H.jpg");
	// background-size: cover;
	// width: 100%;
	
	height: 100vh;

  	.container{
   		
   		width: 90%;
  		margin: 0 auto;

  	
   	header{


	  	.logo{
	  		font-family: $Lobster;
	  		font-size: 36px;
	  		color: #fff;
	  		margin-top: 25px;
	  		
	  	}

	  	// .music{
	  		
	  	// 	color: #fff;
	  	// 	margin-top: 40px;
	  	// 	font-size: 14px;
	  	// 	font-family: Moon;	  	

	  	// }
  	
   		ul{
  			float: right;
  			margin-top: 26px;
  			
 			li{
 				
  				display: inline-block;
  				margin-left: 22px;
  				color: #fff;
  				font-size: 13px;
  				font-weight: bold;
  				font-family: Moon;

   				.second{

  					border: 1px solid #fff;
  					padding: 10px 28px;

  					&:hover{
  					color: #28ceb8;
  					border: 1px solid #28ceb8;
  					}

  				}
  		

   			}
  		}
  	}

  	.about{

  	padding: 90px 0px;

	h1{
  		font-family: $Sumana;
  		color: #fff;
    	font-size: 18px;
   		margin-bottom: 5px;
  		text-align: left;
  		}

  		h2{
  			font-family: Helvetica;
  			font-weight: bold;
  			font-size: 33px;
  			color: #fff;
  			margin-bottom: 60px;
  			text-align: left;
  			width: 80%;
  		
  		}

  		a{

  			font-family: Helvetica;
  			font-weight: bold;
  			font-size: 33px;
  			color: #fff;
  			border-bottom: 1px solid #28ceb8;

  			&:hover{
  				color: #28ceb8;
  			}

  		}

  		img{
  			width: 45px;
  			height: 45px;
  		}

  	}

}

}


.skills{

.container{
		width: 90%;
		margin: 0 auto;

	// img{
	// 	width: 50%;
	// 	height: 50%;
	// 	float: right;
	// 	display: inline-block;
	// }

	h1{

		font-family: $Lobster;
	  	font-size: 36px;
	  	color: #fff;
	  	
	  	display: inline-block;
	}
	

	.bars{

		padding-top: 0px;
		margin-bottom: 70px;

		.bar1{
			
			width: 450px;
			height: 6px;
		
			background-color: #fff;
			position: absolute;
			border-radius: 10px;
		
		}

		.bar2{
			width: 390px;
			height: 6px;
			background-color: #28ceb8;
			position: absolute;
			
			margin-bottom: 40px;
			border-radius: 10px;
		
		}

		.bar3{
			width: 350px;
			height: 6px;
			background-color: #28ceb8;
			
			position: absolute;
			
			border-radius: 10px;
		}

		.bar4{
			width: 350px;
			height: 6px;
			background-color: #28ceb8;
			position: absolute;
			
			border-radius: 10px;
		
		}

		p{	
			
			color: #fff;
			font-family: Moon;
			font-size: 13px;
			font-weight: bold;
			margin-bottom: 8px;
			margin-top: 50px;
		}

		h3{
			float: right;
			display: block;
			color: #fff;
			position: absolute;
			font-family: Moon;
			margin-top: -4px;
			font-size: 13px;
			font-weight: bold;
			margin-left: 462px;
	
		}

	}

	h2{		

			margin-top: 10px;
			line-height: 30px;
			letter-spacing: 0.1px;
			color: #fff;
			font-size: 16px;
			font-family: Helvetica;

		}

ul{

	li{
		display: inline-block;
		
		.fa-instagram{
			vertical-align: middle; 
			margin-right: 20px;
			border-radius: 50%;
			width: 40px;
			height: 38px;
			background-color: #fff;
			text-align: center;
			color: #1d1d1d;
			font-size: 37px;
			padding: 6px;
			margin-top: 10px;
			margin-bottom: 60px;
			transition: background-color 0.2s  ease-out;

			&:hover{
				background-color: #28ceb8;
				transition: background-color 0.2s  ease-in;
			}
		}

		.fa-facebook{
			vertical-align: middle; 
			margin-right: 20px;
			border-radius: 50%;
			width: 40px;
			height: 38px;
			background-color: #fff;
			text-align: center;
			color: #1d1d1d;
			font-size: 29px;
			padding: 10px 5px 0px 5px;
			margin-top: 10px;
			margin-bottom: 60px;
			transition: background-color 0.2s  ease-out;

			&:hover{
				background-color: #28ceb8;
				transition: background-color 0.2s  ease-in;
			}
		}

		.fa-linkedin{
			vertical-align: middle; 
			
			border-radius: 50%;
			width: 40px;
			height: 38px;
			background-color: #fff;
			text-align: center;
			color: #1d1d1d;
			font-size: 27px;
			padding: 10px 5px 0px 5px;
			margin-top: 10px;
			margin-bottom: 60px;
			transition: background-color 0.2s  ease-out;

			&:hover{
				background-color: #28ceb8;
				transition: background-color 0.2s  ease-in;
			}
		}
		
		
		}

	}

	


}
}

footer{
	width: 100%;
	border-top: 1px solid #2f2f2f;
	height: 80px;

	.container{
		width: 90%;
		margin: 0 auto;

		h1{
			padding: 40px;
			text-align: center;
			font-size: 16px;
			font-family: Helvetica;
			color: #fff;
		
		.foo{

			font-family: $Lobster;
			font-size: 36px;
			color: #28ceb8;
			margin-bottom: 10px;
			
			span{
				font-family: $Lobster;
				font-size: 36px;
				color: #fff;
			}
		}
		}

	}


}

// .contact{

	
// .container{

// 	width: 85%;
// 	margin: 0 auto;
	
// 				::-webkit-input-placeholder { 

//     			color: #fff;
//     			font-weight: lighter;
//        			font-family: $Rubik-sans;
//     			font-size: 15px;
// 			}

// 			input{
// 				color: #000;
//     			font-weight: lighter;
//        			font-family: $Rubik-sans;
//     			font-size: 15px;
// 				padding-left: 15px;
// 			}

// 			p{	
			
// 			color: #000;
// 			font-family: Moon;
// 			font-size: 24px;
// 			font-weight: bold;
// 			padding-left: 24px;
// 			margin-bottom: 20px;

// 			}
	
			
// 			.user{

// 					border: 2px solid #000;
// 					border-radius: 5px;
// 					width: 400px;
// 					height: 40px;
// 					margin-bottom: 20px;

// 						&:focus { 

// 							outline: none;
// 						}
// 				}

// 				.message{

// 					border: 2px solid #000;
// 					border-radius: 5px;
// 					width: 840px;
// 					height: 180px;
// 					margin-bottom: 30px;

// 						&:focus { 

// 							outline: none;
// 						}
// 				}

// 				.send{

// 					padding: 13px 5px;
// 					width: 314px;
// 					color: #000;
// 					border-radius: 25px;
// 					font-size: 13px;
// 					font-weight: bold;
// 					font-family: Moon;
// 					text-align: center;
// 					border: 2px solid #000;
// 					background-color: transparent;
// 					margin-bottom: 50px;
				
						
// 						&:focus { 

// 							outline: none;
// 					}
// 				}
// }
// }

// .call{

// 	p{

// 			color: #000;
// 			font-family: Moon;
// 			font-size: 24px;
// 			font-weight: bold;
// 			text-align: center;
// 			margin-top: 30px;
		

// 	}

// }